.form {
    background-color: #fce4ec;
    padding: 20px;
    border-radius: 10px;
    max-width: 400px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    animation: fadeIn 0.5s ease;
  }
  
  .form input,
  .form select {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
  }
  
  .form button {
    background-color: #e91e63;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .form button:hover {
    background-color: #c2185b;
  }
  
  .error {
    color: red;
    font-size: 0.8rem;
  }
  
  .successMessage {
    color: rgb(212, 74, 166);
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
  }
  
  /* Анімація завантаження */
  .loadingSpinner {
    margin: 10px auto;
    border: 4px solid #ddd;
    border-top: 4px solid #e91e63;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  